* {
    background-color: #c7c7c7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto 40px;
}

.content {
    width: 1000px;
    margin: auto;
}

h1,
h2 {
    text-align: center;
}

.cover {
    list-style-type: none;
    padding: 0;
}

ol li {
    padding-bottom: 8px;
}

ol,
ul {
    margin-bottom: 80px;
}

p {
    text-align: center;
    padding: 30px;
}

a {
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: #000000;
    padding: 20px;
    margin-bottom: 20px;
    border: 3px solid black;
}